<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptocurrency Price, Market, and Developer/Social Site</title>
    <link rel="stylesheets" href="/Public API/public/styles.css">
</head>
<body>
    <h1>Crypto News</h1>
    <div class="card">
        <p>
            <%= results %>
        </p>
    </div>
</body>
</html>